.lazy {
  ul {
    li {
      list-style-type: none;
      float: left;
      a {
        padding: 5px;
        background: blue;
        color: white;
        &:hover {
          background: red;
        }
      }
    }
  }
  hr {
    margin-top: 60px;
    clear: both;
  }
}
