<section class="lazy">
  <h1>Lazy Module component!</h1>
  <p>This is a lazy loaded module, with two substates Foo and Bar. Plus differnt sidebar content for it.</p>
  <p>Its files are loaded in a separate bundle from webpack on state change, including sass</p>
  <p>Foo and bar are displayed in a child ui-view</p>
  <ul>
    <li><md-button ui-sref=".foo">Foo</md-button></li>
    <li><md-button ui-sref=".bar">Bar</md-button></li>
    <li><md-button class="md-raised" ng-click="$ctrl.toggle()">toggle side nav</md-button>
</li>
  </ul>
  <hr>
  <p>Child ui-view of lazy module:</p>
  <ui-view></ui-view>
</section>
