<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8"/>
    <title>app</title>
    <base href="/"/>
  </head>
  <body >
      <md-nav-bar
        md-selected-nav-item="currentNavItem"
        nav-bar-aria-label="navigation links">
        <md-nav-item md-nav-sref="hello" name="hello">
          Hello
        </md-nav-item>
        <md-nav-item md-nav-sref="one" name="page2">
          Page Two
        </md-nav-item>
        <md-nav-item md-nav-sref="two" name="page3">
          Page Three
        </md-nav-item>
        <div>
          <md-button ng-click="toggleLeft()"
            class="md-primary" hide-gt-md>
            Toggle left
          </md-button>
        </div>'
        <!-- these require actual routing with ui-router or ng-route, so they
        won't work in the demo
        <md-nav-item md-nav-href="#page4" name="page5">Page Four</md-nav-item>
        <md-nav-item md-nav-sref="app.page5" name="page4">Page Five</md-nav-item>
        You can also add options for the <code>ui-sref-opts</code> attribute.
        <md-nav-item md-nav-sref="page6" sref-opts="{reload:true, notify:true}">
          Page Six
        </md-nav-item>
        -->
      </md-nav-bar>
      <section layout="row" flex>
      <md-sidenav
          class="md-sidenav-left"
          md-component-id="left"
          md-whiteframe="4">

        <md-toolbar class="md-theme-indigo">
          <h1 class="md-toolbar-tools">Sidenav Left</h1>
        </md-toolbar>
        <md-content layout-padding ng-controller="LeftCtrl">
          <md-button ng-click="close()" class="md-primary" hide-gt-md>
            Close Sidenav Left
          </md-button>
          <p hide show-gt-md>
            This sidenav is locked open on your device. To go back to the default behavior,
            narrow your display.
          </p>
        </md-content>

      </md-sidenav>
      <md-content flex layout-padding>
        <ui-view></ui-view>
      </md-content>
    </section>
  </body>
</html>
